.card{
    width: 300px;
    height: 320px;
    transition: all .3s;
    border-radius: 1.5rem;
    border: solid black;
    box-shadow: 0px 15px 20px -5px rgba(0, 0, 0, 0.5);
    color: black;
    background-color: #454545d1;
}
.card:hover{
    transform: scale(1.03);
}
.card a {
    text-decoration: none;
}
.img-c{
    transition: all .3s;
    background: transparent;
    width: 90%;
    max-height: 140px;
    vertical-align: middle;
    align-items: center;
    text-align: center;
}
.continent{
    padding-top: 5px;
}
.link{
    text-decoration: none;
    color: black;
}